<ion-view view-title="Adventures Safety Society">

  <ion-header-bar>
    <div class="title title-center">
      <span ng-if="!ctrl.stateIsWaiting() && !ctrl.stateIsGameOver()">
        Round {{ctrl.gameState.history.length}}:
      </span>
    </div>
  </ion-header-bar>


  <div ng-if="ctrl.stateIsWaiting()">

    <ion-content>
      <ion-list>
        <div class="card" ng-repeat="player in ctrl.gameState.players">
            <div class="item item-avatar">
              <img ng-if="player.picture" ng-src="{{player.picture}}">
              <img ng-if="!player.picture" src="/img/hobit.jpg">
              <h2>{{player.name}} ({{player.score}})</h2>
            </div>
        </div>
      </ion-list>
    </ion-content>

    <div class="bar bar-footer">
      <button class="button button-full button-royal">
        Waiting For {{3 - ctrl.gameState.players.length}} Players
      </button>
    </div>

  </div>

  <div ng-if="!ctrl.stateIsGameOver() && !ctrl.stateIsWaiting()">

    <ion-content>

      <ion-list>
        <div class="card" ng-repeat="player in ctrl.gameState.players">
          <div class="item item-avatar">
            <img ng-if="player.picture" ng-src="{{player.picture}}">
            <img ng-if="!player.picture" src="/img/hobit.jpg">
            <h2>{{player.name}} ({{player.score}})</h2>
          </div>
        </div>
      </ion-list>

      <ion-list ng-repeat="round in ctrl.gameState.history.reverse() track by $index">
        <div ng-if="$index > 0">
          <div class="card">
            <div class="item item-text-wrap">
              Round {{$index - 1}}: {{ ctrl.gameState.history[$index - 1].result }}
            </div>
          </div>
        </div>

        <div class="item item-text-wrap">
          {{round.turns[round.turns.length-1].name}} {{round.turns[round.turns.length-1].action}}
        </div

      </ion-list>

    </ion-content>

    <ion-footer-bar>
      <div style="width: 100%; text-align: center" ng-if="!ctrl.stateIsYourTurn()">
        Waiting For {{ctrl.getCurrentPlayer().name}}
      </div>

      <div class="list" style="width: 100%; text-align: center;" ng-if="ctrl.stateIsYourTurn()">

          <div class="item button button-royal" ng-click="ctrl.takeTurn('PPE')">
            PPE {{ ctrl.getCurrentPPEChance()}}%
          </div>

          <div class="item button button-assertive" ng-click="ctrl.takeTurn('AUTHORIZE')">
            Authorize {{ctrl.getCurrentAuthorizeChance()}}%
          </div>

      </div>
    </ion-footer-bar>

  </div>

  <div ng-if="ctrl.stateIsGameOver()">
    <ion-content>
      <ion-list>
        <div class="card" ng-repeat="player in ctrl.gameState.players | orderBy: '-score' ">
          <div class="item item-text-wrap">
            {{player.name}} ({{player.score}})
          </div>
        </div>
      </ion-list>
    </ion-content>

    <div class="bar bar-footer">
      <div style="width: 100%; text-align: center;">
        <button class="button button-full button-royal" ng-click="ctrl.goToJoinGame()">
          Return to Join Game
        </button>
      </div>


  </div>

</ion-view>

