<ion-view view-title="Adventures Safety Society">

  <ion-header-bar>
    <div class="title title-center">
      Hi {{ctrl.name}} - Join a Game
    </div>
  </ion-header-bar>

  <ion-content>

    <ion-list>
      <div class="card" ng-repeat="game in ctrl.games">
        <div class="item item-text-wrap" ng-click="ctrl.joinGame(game.index)">
          Game {{game.index + 1}}
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap" ng-click="ctrl.createGame()">
          New Game
        </div>
      </div>
    </ion-list>

  </ion-content>

</ion-view>

