<ion-view view-title="Adventures Safety Society">

  <ion-header-bar>
    <div class="title title-center">
      Adventurers Safety Society
    </div>
  </ion-header-bar>

  <ion-content>
    <img ng-if="ctrl.picture" ng-src="{{ctrl.picture}}">
    <form name="nameForm" novalidate ng-submit="ctrl.registerName(ctrl.name)">
      <label class="item item-input">
        <input type="text" placeholder="Enter Thy Name" ng-model="ctrl.name">
      </label>

      <button class="button button-full button-balanced">
        Join A.S. Society
      </button>

    </form>
    <button ng-click="ctrl.takePicture()">Show thyself!</button>

  </ion-content>

</ion-view>
